.main-container{
    height: auto;
    width:100%;
    border:1px solid rgb(135, 132, 132);
    max-width: 1400px;
    display: flex;
    background-color: rgb(233, 236, 238);
    

}

.lcontain{
    width: 100%;
    height: auto;
    max-width: 200px;
    border-right: 1px solid rgb(135, 132, 132);
    /* border-bottom:  1px solid rgb(135, 132, 132); */
    background-color: white;
   
}

.side1{
    height: 100vh;
    width: 100%;
    border: 1px solid rgb(245, 242, 242);
    height: 70px;
    border-top: white;
    margin-left: rgb(113, 80, 80);
    margin-right: rgb(127, 125, 125);
}

.side1 img{
    padding: 2px;
    height: 60px;
    width: 160px;
}

.head{
    width:100%;
    /* max-width: 1120px; */
    height: 70px;
    border-bottom: 1px solid rgb(135, 132, 132);
    position: relative;
   
   
}

.contents{
    justify-content: space-between;
}

.search{
    color: rgb(32, 236, 32);
    font-size: 20px;
    margin-top: 22px;
    margin-left: 30px;
}



.icons{
    justify-content: space-between;
    margin-left: 900px;
    /* display: flex; */
    color:  rgb(32, 236, 32);
    font-size: 20px;
    margin-top: 60px;
    margin-top: -29px;
}

.calender{
    background-color:white;
    height: 20px;
    width: 20px;
   padding: 7px;
   margin-left: 97px;
}

.boxer{
    margin-left: 30px;
    background-color:white;
    height: 20px;
    width: 20px;
   padding: 7px;
   margin-left: 138px;
   margin-top: -34px;

}

.notification{
    margin-right: 90px;
    background-color: white;
    height: 20px; 
    width: 20px;
    padding: 7px;
    margin-left: 180px;
    margin-top: -34px;

}

 .profile img{
    margin-left: 1124px;
    margin-bottom: 50px;
    height: 28px;
    width: 28px;
    border-radius: 100px;
    margin-top: -28px;
   
} 
.drop{
    color: gray;
    margin-left: 1155px;
    margin-top: -75px;
}

.cd{
    color: grey;
    margin-left: 60px;
    margin-top: -28px;
}
 
.icons9{
    display: flex;
    flex-direction: column;
}


.window{
    margin-left: 30px;
    margin-top: 18px;
    background-color:rgb(29, 220, 29) ;
    /* padding: 1px; */
    /* padding-right: 43px; */
    padding-left: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 10px;
    color: white;
    margin-right: 30px;
    
}

.dtitle{
    margin-left: 25px;
    margin-top: -20px;
}



.Favo{
    margin-left: 50px;
    margin-top: 27px;
    color: rgb(29, 220, 29);

}

.ftitle{
    margin-left: 25px;
    margin-top: -20px;
}


.out{
    margin-left: 50px;
    margin-top: 290px;
    color: rgb(243, 8, 12);

}

.otitle{
    margin-left: 25px;
    margin-top: -21px;
}

.subhead{
    justify-content: space-between;

}

.cat{
    margin-top: 60px;
    margin-left: 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.fbox{
    margin-left: 1040px;
    margin-top: -30px;
    background-color: white;
    width: 60px;
    height: 17px;
    padding: 3px;
    padding-left: 6px;
    padding-top: 5px;
    font-size: 15px;
    border-radius: 5px ;
    border: 1px solid rgb(29, 220, 29);
    color: rgb(29, 220, 29);
   
    
}

.left{
    margin-left: 1120px;
    margin-top: -25px;
    font-size: 24px;
    color: rgb(29, 220, 29);
   
}

.right{
    margin-left: 1150px;
    margin-top: -30px;
    font-size: 24px;
    color: rgb(29, 220, 29);
    

}

.varities{
    display: flex;
    
   
  
    
}

.item img{
    height: 40px;
    width: 40px;
    background-color: white;
    margin-top: 15px;
    margin-left: 38px;
    margin-right: -26px;
    padding: 30px;
    padding-top: 15px;
    padding-bottom: 40px;
    border-radius: 20px;
    

}

.names{
    margin-top: -36px;
    margin-left: 70px;
    font-size: 14px;
}

.names1{
    margin-top: -36px;
    margin-left: 61px;
    font-size: 14px;
}

.names2{
    margin-top: -36px;
    margin-left: 58px;
    font-size: 14px;
}

.names3{
    margin-top: -36px;
    margin-left: 52px;
    font-size: 14px;
}

.titles{
    justify-content: space-between;
}

.products{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 33px;
    
}

.side-name{
    margin-top: -19px;
    margin-left: 1100px;
    color:   rgb(29, 220, 29);
    

}